<!-- 
  Main container for the login page. This div wraps the components of the login page.
  It contains a router outlet where different components are dynamically loaded based 
  on the current route and a footer component that is always displayed at the bottom of the page.
-->

<div class="Login-Page-Container">
  <!-- 
    The router-outlet directive is a placeholder for routing components. 
    Angular will dynamically load components here based on the route configuration.
  -->
  <router-outlet></router-outlet>

  <!-- 
    The footer component is statically included and displayed at the bottom 
    of the login page. It shows general footer content.
  -->
  <app-components-footer></app-components-footer>
</div>
